<div class="mt-3 mb-3">
  <h1 class="display-3">
    Welcome to Museum Wiki!
  </h1>
  <p class="lead" style="line-height: 1.8rem">
    Museum Wiki is Wikipedia-like site that hosts museums and artifacts.
    Anyone can create a museum and become the curator who is responsible for that museum.
    Any registered user can add and edit information about artifacts and collections in a museum,
    but only changes approved by the curator will be published.
  </p>
</div>

<app-museum-list>
</app-museum-list>
