<div *ngIf="entryList && entryList.length > 0">
  <div>
    <mat-form-field class="float-left">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="sortMethod" (selectionChange)="sort()">
        <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption">
          {{sortOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="clearfix"></div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-2" *ngFor="let entry of entryList | slice : (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <div class="card h-100">
        <img *ngIf="entry.image && entry.image != ''" class="card-img-top" [src]="entry.image" alt="Image cannot load">
        <div class="card-body">
          <h2 class="card-title">{{entry.name}}</h2>
          <p class="card-text">{{entry.introduction ? (entry.introduction | textLimit: ['200']) : 'Introduction is empty.'}}</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="goToEntry(entry)">
            View {{category}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="entryList.length"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true">
  </ngb-pagination>
</div>
<div *ngIf="!entryList || entryList.length == 0">
  <p>It appears that there are no {{category.toLowerCase()}}s</p>
</div>
