<div class="container">

  <div class="my-4">
    <h1 class="float-left">Museum List</h1>
    <button class="btn btn-info ml-2 mt-2 float-left" routerLink="/create/museum/">Create New Museum</button>
    <div class="float-right mt-2">
      <p>Sort by: </p>
    </div>
  </div>

  <div class="clearfix"></div>

  <div *ngFor="let museum of museums" class="row mb-3">
    <div class="col-md-7">
      <a (click)="goToMuseum(museum.id)">
        <img class="img-fluid rounded mb-3 mb-md-0"
             [src]="museum.image"
             [alt]="'Image with url ' + museum.image + ' cannot be loaded.'">
      </a>
    </div>
    <div class="col-md-5">
      <h3>{{museum.name}}</h3>
      <p>{{museum.introduction | textLimit: ['200']}}</p>
      <button class="btn btn-primary" (click)="goToMuseum(museum.id)">View Museum</button>
    </div>
  </div>

  <app-loading [loading]="loading" [error]="error"></app-loading>

</div>
<!-- /.container -->
