<div>
  <p>You are viewing {{viewCategory}} with id {{id}}</p>
</div>

<div *ngIf="loading">
  <app-loading [loading]="loading" [error]="error"></app-loading>
</div>

<div *ngIf="!loading">

  <div *ngIf="parentName">
    <div *ngFor="let contentParent of contentParents">
      <button class="btn btn-light" (click)="goToParent(contentParent)">Back to {{contentParent.name}}</button>
    </div>
  </div>

  <app-wiki-entry-view [wikiEntry]="content"
                       [canEdit]="viewCategory === 'artifact'"
                       [category]="viewCategory">
  </app-wiki-entry-view>

  <div *ngIf="subListName">
    <app-entry-list [category]="subListName" [entryList]="contentSubList" [parentId]="viewCategory === 'museum' ? id : collection.museum.id">
    </app-entry-list>
  </div>

</div>
