<div class="mt-2">
</div>

<div *ngIf="loading">
  <app-loading [loading]="loading" [error]="error"></app-loading>
</div>

<div *ngIf="!loading">

  <div *ngIf="viewCategory === 'museum'">
    <button class="btn btn-light" [routerLink]="'/home'">Back</button>
  </div>
  <div *ngIf="parentName" class="btn-group">
    <div *ngFor="let contentParent of contentParents" class="mr-2">
      <button class="btn btn-light" (click)="goToParent(contentParent)">Back to {{contentParent.name}}</button>
    </div>
  </div>

  <div class="clearfix mt-2"></div>

  <app-wiki-entry-view [wikiEntry]="content"
                       [canEdit]="viewCategory !== 'museum'"
                       [category]="viewCategory">
  </app-wiki-entry-view>

  <div class="clearfix mb-2"></div>

  <div *ngIf="subListName">
    <app-entry-list [category]="subListName" [entryList]="contentSubList"
                    [parentId]="viewCategory === 'museum' ? id : collection.museum.id">
    </app-entry-list>
  </div>

</div>
