<app-loading [loading]="loadingEdit" [error]="errorEdit">
</app-loading>

<div *ngIf="!loadingEdit && !errorEdit">
  <div class="mt-2">
    <h1 class="float-left">{{capitalizeFirstLetter(type)}} {{capitalizeFirstLetter(category)}}</h1>
    <div class="float-right" *ngIf="edit.reviewerUsername && edit.reviewerUsername === currentUserName">
      <button class="btn btn-success" (click)="approve(edit)">Approve</button>
      <button class="btn btn-danger ml-2" (click)="deny(edit)">Deny</button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div *ngIf="displayCurrent && currentEntry" class="float-left col-12" [class.col-lg-6]="displayChanged">
      <h2 class="text-center">Current Version:</h2>
      <div *ngIf="currentEntry; else loadingCurrentEntry">
        <app-collection-list *ngIf="category === 'artifact'" [artifact]="currentEntry">
        </app-collection-list>
        <app-wiki-entry-view [category]="category" [canEdit]="false" [wikiEntry]="currentEntry" [canDelete]="false">
        </app-wiki-entry-view>
      </div>
      <ng-template #loadingCurrentEntry>
        <p>Loading current version...</p>
      </ng-template>
    </div>

    <div *ngIf="displayChanged && changedEntry"
         class="float-right col-12 left-divider"
         [class.col-lg-6]="displayCurrent">
      <h2 class="text-center">Changed Version:</h2>
      <app-collection-list *ngIf="category === 'artifact'" [artifact]="changedEntry"></app-collection-list>
      <app-wiki-entry-view [category]="category" [canEdit]="false" [wikiEntry]="changedEntry" [canDelete]="false">
      </app-wiki-entry-view>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
