<div class="mt-3">
  <h2 class="float-left mr-2">
    Please edit {{category}} info
  </h2>
  <button class="btn btn-info float-left"
          [routerLink]="mode === createMode ?
          '/view/museum/' + museumId
          : '/view/' + category + '/' + existingObject.id">
    Back
  </button>
  <button class="float-right btn btn-lg btn-success"
          [class.disabled]="!canSubmit()"
          (click)="submit()">
    Submit
  </button>
  <div class="clearfix"></div>
</div>

<app-tag-selection *ngIf="category === 'artifact'"
                   [museumId]="museumId"
                   [allowEdit]="true"
                   [existingCollections]="existingArtifact?.collectionList">
</app-tag-selection>

<app-wiki-entry-editor [previousWikiEntry]="existingObject"></app-wiki-entry-editor>
