<div class="mt-3">
  <p *ngIf="museumId">This will be a part of the museum with id {{museumId}}</p>
  <h2 class="float-left">
    Please edit {{category}} info
  </h2>
  <button class="float-right btn btn-lg btn-success"
          [class]="(wikiEntryEditor?.wikiEntryFormGroup?.valid && (category !== 'artifact' || tagSelection.getAllSelectedTags().length > 0)) ? '' : 'disabled'"
          (click)="submit()">
    Submit
  </button>
  <div class="clearfix"></div>
</div>

<app-tag-selection *ngIf="category === 'artifact'"
                   [museumId]="museumId"
                   [existingCollections]="existingArtifact?.collectionList">
</app-tag-selection>

<app-wiki-entry-editor [previousWikiEntry]="existingObject"></app-wiki-entry-editor>
