<h2 class="float-left mr-2">{{wikiEntry.name}}</h2>

<button *ngIf="canEdit" class="btn btn-primary float-left mr-2" (click)="edit()">Edit</button>

<button *ngIf="canDelete" class="btn btn-danger float-left" (click)="delete()">Delete</button>

<div class="clearfix"></div>

<a *ngIf="wikiEntry.image && wikiEntry.image !== ''" [href]="wikiEntry.image">
  <img class="img-fluid col-lg-6 float-right" [src]="wikiEntry.image" alt="Image cannot load.">
</a>

<p>{{wikiEntry.introduction}}</p>

<app-markdown-display [markdownText]="wikiEntry.description"></app-markdown-display>
