<div>
    <textarea placeholder="Input markdown text here"
              class="form-control"
              style="min-height: 300px"
              [formControl]="descriptionFormControl">
    </textarea>
  <div class="mt-3">
    <button [class]="'btn btn-info mr-3' + (realTimeRendering ? ' disabled' : '')"
            (click)="renderMarkdown()" type="button">
      Preview
    </button>

    <input id="realTimeRendering"
           type="checkbox"
           [(ngModel)]="realTimeRendering">
    <label class="form-check-label ml-1" for="realTimeRendering">
      Enable real time rendering
    </label>
  </div>
  <!-- form-group -->

  <div>
    <app-markdown-display [markdownText]="realTimeRendering ? descriptionFormControl.value : previewText"></app-markdown-display>
  </div>
</div>
