<div>
  <div class="form-group">
    <textarea placeholder="Input markdown text here"
              class="form-control"
              style="min-height: 300px"
              [(ngModel)]="markdownText">
    </textarea>
    <input id="realTimeRendering"
           type="checkbox"
           [(ngModel)]="realTimeRendering">
    <label class="form-check-label ml-1" for="realTimeRendering">
      Enable real time rendering
    </label>
  </div>
  <!-- form-group -->
  <div *ngIf="realTimeRendering">
    <h4>Preview: </h4>
    <div [innerHTML]="markdownText | marked"></div>
  </div>
</div>
