<div class="mt-3">
  <h4>Please Login</h4>
  <form class="form-group">
    <label class="form-check-label" for="username">
      Username:
    </label>
    <input type="text" class="form-control" name="username"
           id="username" placeholder="Enter username" autocomplete="on"
           [(ngModel)]="username">

    <label class="form-check-label mt-2" for="password">
      Password:
    </label>
    <input type="password" class="form-control" name="password"
           id="password" placeholder="Password" autocomplete="on"
           [(ngModel)]="password">

    <button class="btn btn-lg btn-primary mt-2"
            (click)="login()">
      Login
    </button>

    <button class="btn btn-lg btn-danger ml-2 mt-2"
            (click)="fakeLogin()">
      Fake Login For Testing
    </button>

    <button class="btn btn-lg btn-info ml-2 mt-2"
            (click)="register()">
      Register
    </button>
  </form>
</div>

