<div class="mt-3 container">
  <h3>Search within Museum Wiki</h3>
</div>
<div class="mt-3 container">
  <div class="form-group form-inline">
    <label for="search-for" class="mr-1">Search for: </label>
    <select id="search-for" class="form-control">
      <option *ngFor="let searchOption of SEARCH_OPTIONS" [value]="searchOption">{{searchOption}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="search" class="float-left mr-1">Keywords: </label>
    <input id="search" type="text" class="form-control" placeholder="Put keywords here" [formControl]="searchText">
  </div>
</div>
