<div class="modal-header">
  <h2 class="modal-title" id="modal-basic-title">Reset Password</h2>
</div>
<div class="modal-body">
  <label for="username" class="form-check-label">Your username: </label>
  <input id="username" name="username" class="form-control" type="text"
         [(ngModel)]="username">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
</div>
